html {
  background-image: url(https://ak9.picdn.net/shutterstock/videos/33098059/thumb/6.jpg?i10c=img);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Prompt', sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

#main-nav {
  padding-left: 30px;
  background-image: linear-gradient(grey, black);
  border-bottom: 3px solid rgb(191, 255, 88);
  color: rgb(255, 255, 255);
}

.nav-head {
  margin-top: 10px;
}

.nav-form {
  position: absolute;
  right: 25px;
  top: 20px;
}

.go {
  font-family: 'Prompt', sans-serif;
  background-image: linear-gradient(rgb(234, 255, 201), rgb(191, 255, 88));
  color: rgb(0, 0, 0);
  border: 2px solid rgb(191, 255, 88);
  border-radius: 5px;
}

.go:hover {
  background-image: linear-gradient(rgb(82, 82, 82), rgb(0, 0, 0));
  border: 2px solid rgbrgb(191, 255, 88);
  color: rgb(255, 255, 255);
}

main {
  margin-top: 70px;
}

.content {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: white;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

#enter-app {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#error-message {
  color: red;
}

.banner {
  background-image: linear-gradient(rgb(238, 238, 238), rgb(184, 184, 184));
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(184, 184, 184);
  border-top: 1px solid rgb(184, 184, 184);
}

.news-post {
  background-color: white;
  color: black;
}

.title{
  color: rgb(0, 0, 0);
}

.title:hover {
  color: rgb(100, 100, 100);
}

img {
  width: 100%;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

footer {
  text-align: center;
  padding-bottom: 2px;
  color: white;
}

#news-link {
  color: white;
}

#news-link:hover {
  color: rgb(191, 255, 88);
}

.home {
  text-align: center;
  margin-top: 120px;
  margin-left: 15%;
  margin-right: 15%;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(155, 155, 155));
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
}

#within, #select-date, #sort-by, #js-eb-max-results {
  margin-top: 10px;
}

.search {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

#eb-link {
  color: black;
}

#eb-link:hover {
  color: white;
}

.results-contain {
  background-color: rgba(255, 255, 255, 0.313);
  border-bottom: 1px solid rgb(155, 155, 155);
  border-right: 1px solid rgb(155, 155, 155);
  border-left: 1px solid rgb(155, 155, 155);
}

.results-box {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.event-describe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-form {
  text-align: center;
}

.bottom-button {
  margin-top: 5px;
}

.no-result {
  text-align: center;
}